@import 'tailwindcss';
@import "../../node_modules/flyonui/variants.css";

@plugin "flyonui" {
    themes: light --default, dark --prefersdark, soft;
}
@source "../../node_modules/flyonui/flyonui.js";
@plugin "@iconify/tailwind4";
@config '../../tailwind.config.js';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility break-auto {
  word-break: auto-phrase;
}

@layer utilities {
  .pcs\:back-to-top {
    @apply top-[100vh] absolute right-3 bottom-0 w-12 pointer-events-none print:hidden;
  }

  .pcs\:back-to-top-button {
    @apply sticky top-[calc(100vh_-_4rem)] inline-block no-underline text-indigo-500 font-extrabold text-center rounded-full w-12 h-12 ring-1 ring-indigo-500 bg-white opacity-80 hover:opacity-50 p-3 pointer-events-auto z-50;
  }
}
