name: deploy-develop

on:
  push:
    branches:
    - develop

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: deploy
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup PHP, with composer and extensions
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: mbstring
          coverage: xdebug
      - name: Install Composer dependencies
        run: composer install --no-interaction --no-progress  --optimize-autoloader
      - name: env
        run: |
          cp .env.example .env
          php artisan key:generate
      - name: Test
        run: vendor/bin/phpunit
      - name: Deploy Environment
        if: success() && (github.event_name != 'pull_request')
        run: ./vendor/bin/vapor deploy staging
        env:
          VAPOR_API_TOKEN: ${{ secrets.VAPOR }}
